.hoje {
    color: darkred;
    text-decoration: none;
}

.amanha {
    color:darkblue;
    text-decoration: none;
    background-color: rgba(196, 58, 223, 0.514);
}

h2 , a {
    /*color: rgb(255,255,255);*/
    color: rgba(255,255,255, 0.5);
    /* RGBA FICA TRANSPARENTE, O ULTIMO VALOR EH O ALFA */
    text-decoration: none;
    background: #000000;
}

p {
    font-size: 82px;
    font-family: arial;
}

/** {
    box-shadow: rgba(255,0,0,50)
}*/