body { 
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #141414;
    /*margin-bottom: 1000px;*/
}

h1, 
h2, 
h3, 
p {
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    word-break: break-all;
    text-transform: uppercase;
    max-width: 4ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}