a {
    text-decoration: none;
    color: white;
    background: darkblue;
    display: inline-block;
}

p {
    background: lightblue;
}

.px {
    font-size: 24px;
    padding: 16px 32px;
}

html {
    font-size: 32px;
}

/* 1 rem é 16px 
rem está sendo transformado em pixel
se tiver font-size no HTML, ele vai influenciar no valor do pixel do rem
*/
.rem {
    font-size: 1.5rem;
    padding: 1rem 2rem;
}


/* se eu mudar o tamanho da div, vai virar o dobro do elemento pai */
.em {
    font-size: 2em;
}