/* PROPRIEDADES CUSTOMIZADAS
A PROPRIEDADE É HERDADA PELOS FILHOS, É COMUM DEFINIRMOS AS MESMAS
NO ELEMENTO :ROOT OU HTML ASSIM TEREMOS ACESSO A TODOS
OS ELEMENTOS DO SITE
*/


:root {
    --roxo: #84e;
    --borda: 4px solid blue;
    --fonte-grande: 3rem;
    --fundo: #fff;
    --texto-1: #111;
    --texto-2: #444;
}

@media (prefers-color-scheme: dark) {
    :root {
        --roxo: #84e;
        --borda: 4px solid blue;
        --fonte-grande: 3rem;
        --fundo: #222;
        --texto-1: #eee;
        --texto-2: #bbb;
    }
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background: var(--fundo);
}


h1 {
    color: var(--roxo);
    background: var(--roxo);
    font-size: var(--fonte-grande);
}

p {
    /* P NÃO HERDA ROXO, P ESTA DO LADO DE FORA DO H1 
    color: var(--roxo);
    DEPOIS DE COLOCAR O ROOT */
    --roxo: #222;
    color: var(--roxo);
    border: var(--borda);
    font-size: calc( var(--fonte-grande) / 2);
}