:root {
    --cor-primaria: #e21;
    --cor-primaria-escura: #900;
    --fundo-1: #f7f7f7;
    --fundo-2: #ffffff;
    --texto: #000000;
    --subtitulo: rgba(0, 0, 0, 0.2);
    --onda: url("./img/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
        --fundo-1: #111111;
        --fundo-2: #000000;
        --texto: #ffffff;
        --subtitulo: rgba(255, 255, 255, 0.2);
        --onda: url("./img/onda-escura.svg");
    }
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif; 
    margin: 0px;
    background: var(--fundo-1);
    color: var(--texto);
    display: grid;
    gap: 60px;
    /*justify-content: center;*/
    justify-items: center;
    margin-top: 60px;
}

img {
    display: block;
}

.bicicletanew {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
}

a {
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0px;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

.header {
    display: grid;
    justify-items: center;
    gap: 60px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu a {
    background: var(--fundo-2);
    padding: 1rem 2rem;
    border-radius: 4px;
    color: var(--texto);
    text-transform: uppercase;
    display: block;
    border: 2px solid var(--fundo-2);
}

.menu a:hover {
    border-color: var(--fundo-2);
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    /*background-color: transparent;
    background-size: 100%;*/
}

.introducao {
    background: var(--fundo-2);
    padding: 2rem;
    text-align: right;
    /* crio o posicionamento relativo para orientar o detalhe*/
    position: relative;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;
    font-size: 1rem;
    list-style: none;
}

/* .detalhe {
    width: 60px;
    height: 4px;
    background: var(--cor-primaria);
    /* SPAN COM WIDTH E HEIGHT NAO EXIBE ATE CONVERTER PARA INLINE BLOCK 
    /*display: inline-block;
    /* POSICIONAMENTO ABSOLUTO REFERENTE AO BODY, CASO NÃO TENHA POSITION NO ELEMENTO PAI
    position: absolute;
    top: 30px;
    right: -30px;
} */


.introducao:before {
    content: "";
    width: 60px;
    height: 4px;
    background: var(--cor-primaria);
    position: absolute;
    top: 30px;
    right: -30px;
}

.botao { 
    background: var(--cor-primaria);
    color: var(--fundo-2);
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.botao:hover {
    background: var(--cor-primaria-escura);
}

.subtitulo {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--subtitulo);
    text-align: right;
    padding: 2rem;
    align-self: center;
    background-image: var(--onda);
    /*word-break: break-all;*/
    overflow-wrap: break-word;
}

.vantagens {
    background: var(--fundo-2);
    padding: 2rem;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    margin-bottom: 20px;
    border: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
    background: var(--fundo-1);
}

.vantagens-item:hover {
    border-left: 4px solid rgba(255, 0, 0);
    background: var(--fundo-1);
}

.vantagens-item, 
p {
    grid-column: 2;
}

/* maior que */
@media (max-width: 37.5rem) {
    body {
        gap: 30px;
        margin-top: 20px;
    }

    .header {
        gap: 30px;
    }

    .conteudo {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .introducao{
        text-align: start;
        justify-items: center;
    }

    .introducao:before {
        right: 0px;
        background: transparent;
    }

    .subtitulo {
        font-size: 2rem;
        text-align: center;
    }
}


.rodape {
    background: var(--fundo-2);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}


/*
Cores
cinza: var(--fundo-2)f7
cinza-escuro: #c6c6c6
vermelho: var(--cor-primaria)

Tipografia
fonte: Arial
parágrafos: 20px
vantagens bikcraft: 64px

Tamanhos
conteudo principal: max 1000px;
*/